@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html {
  width: 300px;
  height: 260px;
  overflow-y: scroll;
}

.records {
  height: 450px;
  margin: 5%;
}

body {
  color: white;
  background-color: #0e0e10;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

.lr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  padding-top: 5%;
  width: 15%;
}

#content {
  padding-top: 5%;
}

.grey {
  color: #8e8e93;
}

.light {
  font-weight: 400;
}

.content-head {
  margin-top: 4%;
  font-size: 0.9rem;
}

#count {
  margin-top: 0%;
  font-size: 3rem;
  font-weight: 600;
}

footer {
  margin-top: 0;
}

.move-button {
  margin-top: 10%;
  width: 30%;
  height: 5%;
}

.delete-button {
  width: 20%;
}

.twitch-color-button {
  border: solid;
  border-color: #772ce8;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0);

  color: white;
  font-size: 0.7rem;
  padding: 2%;
}

.twitch-color-button:hover {
  border-color: #772ce8;
  background-color: #772ce8;
  cursor: pointer;
}

.delete-button:hover {
  border-color: #fc4444;
  background-color: #fc4444;
  cursor: pointer;
}

.calc-point {
  font-size: 0.7rem;
  font-weight: 400;
  color: lightgrey;
}

#calculatedPoints {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

#backButton {
  width: 5%;
}

#recordCount {
  font-size: 1rem;
}

#recordsContainer {
  margin-top: 5%;
  margin-bottom: 5%;
}

#recordHeaderText {
  font-size: 1.6rem;
}

#backButton:hover {
  cursor: pointer;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.streamer {
  border-style: solid;
  /*  border only top  */
  border-width: 0 0 0.1rem 0;

  border-color: #772ce8;
  padding: 4% 2%;
}

.streamer:last-child {
  border: none;
}

.streamer:hover {
  background-color: #772ce8;
  cursor: pointer;
}

.streamer-info {
  width: 60%;
  font-size: medium;
  font-weight: bold;
  display: grid;
}

.record-info {
  width: 60%;
  display: grid;
}

#recordPoints {
  font-size: 0.65rem;
}

#profileImg {
  width: 10%;
  border-radius: 50%;
  margin-right: 5%;
}

#streamerName {
  font-size: 1rem;
}

#streamerId {
  font-weight: normal;
  font-size: 0.8rem;
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  text-align: right;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  border: solid;
  border-width: 0.03rem;
  border-radius: 9%;
  padding: 10%;

  /* left: -0%; */
  background-color: #250359;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
